<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdiumSetVersion</key>
	<integer>1</integer>
	<key>Emoticons</key>
	<dict>
		<key>applaud.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react applaud</string>
			</array>
			<key>Name</key>
			<string>Applaud</string>
		</dict>
		<key>approve.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react approve</string>
			</array>
			<key>Name</key>
			<string>Approve</string>
		</dict>
		<key>awwyeah.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react awwyeah</string>
			</array>
			<key>Name</key>
			<string>Aww Yeah</string>
		</dict>
		<key>bananas.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react bananas</string>
			</array>
			<key>Name</key>
			<string>Bananas</string>
		</dict>
		<key>BROOKLYN.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react BROOKLYN</string>
			</array>
			<key>Name</key>
			<string>BROOKLYN</string>
		</dict>
		<key>bitchplz.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react bitchplz</string>
			</array>
			<key>Name</key>
			<string>Bitch Please</string>
		</dict>
		<key>bitchwhat.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react bitchwhat</string>
			</array>
			<key>Name</key>
			<string>Bitch What</string>
		</dict>
		<key>boneralert.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react boneralert</string>
			</array>
			<key>Name</key>
			<string>Boner Alert</string>
		</dict>
		<key>broplz.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react broplz</string>
			</array>
			<key>Name</key>
			<string>Bro Please</string>
		</dict>
		<key>celebrate.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react celebrate</string>
			</array>
			<key>Name</key>
			<string>Celebrate</string>
		</dict>
		<key>chuck.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react chuck</string>
			</array>
			<key>Name</key>
			<string>Chuck</string>
		</dict>
		<key>damn.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react damn</string>
			</array>
			<key>Name</key>
			<string>Damn</string>
		</dict>
		<key>dayum.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react dayum</string>
			</array>
			<key>Name</key>
			<string>Dayum</string>
		</dict>
		<key>doit.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react doit</string>
			</array>
			<key>Name</key>
			<string>Do It</string>
		</dict>
		<key>dropit.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react dropit</string>
			</array>
			<key>Name</key>
			<string>Drop It</string>
		</dict>
		<key>drunk.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react drunk</string>
			</array>
			<key>Name</key>
			<string>Drunk</string>
		</dict>
		<key>excited.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react excited</string>
			</array>
			<key>Name</key>
			<string>Excited</string>
		</dict>
		<key>fail.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react fail</string>
			</array>
			<key>Name</key>
			<string>Fail</string>
		</dict>
		<key>fif.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react fif</string>
			</array>
			<key>Name</key>
			<string>Fif</string>
		</dict>
		<key>hump.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react hump</string>
			</array>
			<key>Name</key>
			<string>Hump</string>
		</dict>
		<key>jimbo.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react jimbo</string>
			</array>
			<key>Name</key>
			<string>Jimbo</string>
		</dict>
		<key>lizarding.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react lizarding</string>
			</array>
			<key>Name</key>
			<string>Lizarding</string>
		</dict>
		<key>lunchtime.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react lunchtime</string>
			</array>
			<key>Name</key>
			<string>Lunchtime</string>
		</dict>
		<key>micdrop.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react micdrop</string>
			</array>
			<key>Name</key>
			<string>Mic Drop</string>
		</dict>
		<key>mindblown.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react mindblown</string>
			</array>
			<key>Name</key>
			<string>Mind Blown</string>
		</dict>
		<key>moonwalk.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react moonwalk</string>
			</array>
			<key>Name</key>
			<string>Moon Walk</string>
		</dict>
		<key>muscle.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react muscle</string>
			</array>
			<key>Name</key>
			<string>Muscle</string>
		</dict>
		<key>myjam.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react myjam</string>
			</array>
			<key>Name</key>
			<string>My Jam</string>
		</dict>
		<key>nod.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react nod</string>
			</array>
			<key>Name</key>
			<string>Nod</string>
		</dict>
		<key>nope.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react nope</string>
			</array>
			<key>Name</key>
			<string>Nope</string>
		</dict>
		<key>notime.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react notime</string>
			</array>
			<key>Name</key>
			<string>No Time</string>
		</dict>
		<key>notmad.jpg</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react notmad</string>
			</array>
			<key>Name</key>
			<string>Not Mad</string>
		</dict>
		<key>notouching.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react notouching</string>
			</array>
			<key>Name</key>
			<string>No Touching</string>
		</dict>
		<key>please.png</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react please</string>
			</array>
			<key>Name</key>
			<string>Please</string>
		</dict>
		<key>oh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react oh</string>
			</array>
			<key>Name</key>
			<string>Oh Face</string>
		</dict>
		<key>rage.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react rage</string>
			</array>
			<key>Name</key>
			<string>Rage</string>
		</dict>
		<key>rawwwr.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react rawwwr</string>
			</array>
			<key>Name</key>
			<string>Rawwwr</string>
		</dict>
		<key>relaxinallcool.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react relaxinallcool</string>
			</array>
			<key>Name</key>
			<string>Relaxin All Cool</string>
		</dict>
                <key>science.gif</key>
                <dict>
                        <key>Equivalents</key>
                        <array>
                                <string>/react science</string>
                        </array>
                        <key>Name</key>
                        <string>Science</string>
                </dict>
		<key>shame.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react shame</string>
			</array>
			<key>Name</key>
			<string>Shame</string>
		</dict>
		<key>shhh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react shhh</string>
			</array>
			<key>Name</key>
			<string>Shhh</string>
		</dict>
		<key>smh.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react smh</string>
			</array>
			<key>Name</key>
			<string>SMH</string>
		</dict>
		<key>snoopy.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react snoopy</string>
			</array>
			<key>Name</key>
			<string>Snoopy</string>
		</dict>
		<key>spudnik.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react spudnik</string>
			</array>
			<key>Name</key>
			<string>Spudnik</string>
		</dict>
		<key>thumbsup.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react thumbsup</string>
			</array>
			<key>Name</key>
			<string>Thumbs Up</string>
		</dict>
		<key>what.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react what</string>
			</array>
			<key>Name</key>
			<string>What</string>
		</dict>
		<key>wink.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react wink</string>
			</array>
			<key>Name</key>
			<string>Wink</string>
		</dict>
		<key>yay.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react yay</string>
			</array>
			<key>Name</key>
			<string>Yay</string>
		</dict>
		<key>yw.gif</key>
		<dict>
			<key>Equivalents</key>
			<array>
				<string>/react yw</string>
			</array>
			<key>Name</key>
			<string>You're Welcome</string>
		</dict>
	</dict>
</dict>
</plist>
